@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
/*Sass Variables*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Arvo;
}

html, body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Nav Code Starts*/
/*Nav Code Here*/
/*Hero Section Start*/
#hero {
  background-image: url(/images/heroImage2.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

/*Overlay for hero image*/
#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .4;
  z-index: -2;
}

#hero h1 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: white;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#hero a {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 20px;
}

/*Hero Section End*/
/*Intro Section Starts*/
#intro .container {
  display: block;
}

#intro h1 {
  font-size: 4rem;
  padding-top: 12rem;
  padding-bottom: 10rem;
  color: #515151;
  text-align: center;
  margin: 0 4rem;
}

#intro p {
  color: #515151;
  padding-bottom: 3rem;
  text-align: center;
  margin: 0 12rem;
  font-size: 2rem;
}

/*Cards section Starts*/
#intro #cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arvo;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin-left: 10%;
  padding-top: 2rem;
}

#intro #cards-wrapper .card-box {
  position: relative;
  width: 350px;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  max-height: 278px;
}

#intro #cards-wrapper .card-box .card-icon {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  color: #fff;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-size: 2.5rem;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 0 0 #00bcd4;
          box-shadow: 0 0 0 0 #00bcd4;
  background: #00bcd4;
  font-size: 3.8rem;
}

#intro #cards-wrapper .card-box:hover .card-icon {
  -webkit-box-shadow: 0 0 0 400px #00bcd4;
          box-shadow: 0 0 0 400px #00bcd4;
}

#intro #cards-wrapper .card-box .card-content {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  text-align: center;
}

#intro #cards-wrapper .card-box:hover .card-content {
  color: #fff;
}

#intro #cards-wrapper .card-box:hover .card-content .card-subtext {
  color: #fff;
}

#intro #cards-wrapper .card-box .card-content h3 {
  font-size: 2rem;
  margin: 2rem 0;
  padding: 0;
}

.card-box p {
  margin: 0 !important;
}

/*Cards section Ends*/
/*Intro Section End*/
/* About Section Starts*/
#about {
  background-image: url(/images/stephen-dawson-qwtCeJ5cLYs-unsplash.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#about::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: blue;
  opacity: .4;
  z-index: -1;
}

#about .about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10rem;
}

#about .section-title {
  font-size: 7rem;
  padding-bottom: 3rem;
  color: white;
  text-align: center;
}

#about .about-tabs p {
  padding: 0 2rem;
  line-height: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  padding-bottom: 6rem;
}

.about-list {
  list-style-position: inside;
}

#about .slide .info h2 {
  font-size: 8rem;
  padding-bottom: 3.5rem;
}

.about-list li {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 200;
  padding-left: 6rem;
  padding-bottom: 1.5rem;
}

.circle-line-tabs ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
}

.circle-line-tabs li {
  padding: 0 1rem;
  color: white;
  cursor: pointer;
}

.circle-line-tabs li:hover {
  color: gold;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.far.fa-circle {
  display: inline-block;
}

/* About Section Ends*/
/* Slider Section Starts*/
.slide img {
  width: 100%;
  height: 100vh;
}

.img-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #1d212b;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}

.img-slider .slide.activeSlide {
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  -webkit-transition: .90s;
  transition: .90s;
  -webkit-transition-property: -webkit-clip-path;
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 9rem 13rem;
}

.img-slider .slide .info h2 {
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .4rem;
}

.img-slider .slide .info p {
  color: white;
  font-size: 2rem;
  width: 70%;
  padding: 2rem;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.img-slider .navigation .btn {
  color: white;
  width: 16px;
  height: 16px;
  margin: 1rem;
}

.img-slider .navigation .btn.activeSlide {
  color: #00bcd4;
}

/*History Section Starts*/
.history-content {
  text-align: center;
}

/*History Section Ends*/
/*Contact Us Section Start*/
.contact {
  position: relative;
  min-height: 100vh;
  padding: 3rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(/images/contact-us-section.jpg);
  background-size: cover;
  margin-top: 5rem;
}

.contact .content {
  max-width: 90%;
  text-align: center;
}

.contact .content h2 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
  color: white;
}

.contact .content .subtitle {
  color: white;
}

.contact-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin: 6rem;
}

.contact .contact-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 13rem;
}

.contact .contact-info .info-box {
  position: relative;
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.contact .contact-info .info-box .icon {
  min-width: 6rem;
  height: 6rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-size: 2rem;
}

.contact .contact-info .info-box .info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  margin-top: 0.6rem;
  font-size: 1.7rem;
  font-weight: 300;
  color: white;
}

.contact .contact-info .info-box .info-text h3 {
  font-weight: 500;
  color: #00bcd4;
}

.contact .contact-info .info-box .info-text .info-link:link {
  color: white;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.contact .contact-info .info-box .info-text .info-link:visited {
  color: white;
}

.contact .contact-info .info-box .info-text .info-link:hover {
  color: #00bcd4;
}

.contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  padding: 0 4rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-left: 3rem;
  margin-right: 3rem;
  background: #fff;
  text-align: left;
}

.contact .contact-form h3 {
  font-size: 2rem;
  font-weight: 600;
}

.contact .contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 1.5rem;
}

.contact .contact-form .input-box input,
.contact .contact-form .input-box textarea {
  width: 100%;
  padding: 0.12rem 0;
  font-size: 1.3rem;
  font-weight: 200;
  margin: 0.7rem 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact .contact-form .input-box span {
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  padding: 0.2rem;
  margin: .7rem 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
  color: #00bcd4;
  font-size: 1.2rem;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
  width: 8rem;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1.6rem;
  margin-left: 27%;
}

/*Contact Us Section End*/
/*Media Queries Start*/
/*Small Devices and cell phones 600px and lower*/
@media only screen and (max-width: 600px) {
  #intro h1 {
    font-size: 2.2rem;
  }
  #intro p {
    margin: 0 7rem;
  }
  .img-slider .slide .info h2 {
    font-size: 4rem;
    margin-left: -8rem;
  }
  .img-slider .slide .info p {
    padding: 1rem 0;
    width: 100%;
    margin-left: -4rem;
  }
  .slide img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact {
    padding: 6rem 0;
  }
  .contact .content {
    max-width: 90%;
  }
  .contact-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .contact .contact-info {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 6rem;
  }
  .contact .contact-info .info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact .contact-info .info-box .icon {
    width: 6rem;
  }
  .contact .contact-form {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */