@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*Sass Variables*/
$primaryVertNavColor: rgb(34, 72, 240);
$mainFont: Arvo;
$mainFontColor: #515151;
$secondaryFontColor: white;
$tertiaryFontColor: #00bcd4;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: $mainFont;
}

html, body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Nav Code Starts*/

/*Nav Code Here*/

/*Hero Section Start*/
#hero {
    background-image: url(/images/top-down-earth.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

/*Overlay for hero image*/
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -2;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: $secondaryFontColor;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero a{
    display: inline-block;
    padding: 10px 30px;
    color: $secondaryFontColor;
    background-color: transparent;
    border: 2px solid $secondaryFontColor;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
}


/*Hero Section End*/

/*Intro Section Starts*/
#intro .container{
    display: block;
}

#intro h1 {
    font-size: 4rem;
    padding-top: 12rem;
    padding-bottom: 10rem;
    color: $mainFontColor;
    text-align: center;
    margin: 0 4rem;
}

#intro p {
    color: $mainFontColor;
    padding-bottom: 3rem;
    text-align: center;
    margin: 0 12rem;
    font-size: 2rem;

}

/*Intro Section End*/


/* About Section Starts*/
#about {    
background-image: url(/images/stephen-dawson-qwtCeJ5cLYs-unsplash.jpg);
background-size: cover;
background-position: top center;
position: relative;
z-index: 1;
}

#about::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: blue;
    opacity: .4;
    z-index: -1;
}

#about .about{
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10rem;

}

#about .section-title {
    font-size: 4rem;
    padding-bottom: 3rem;
    color: $secondaryFontColor;
    text-align: center;
}

#about .about-tabs p {
    padding: 0 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: $secondaryFontColor;
    padding-bottom: 6rem;
}

.circle-line-tabs ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.circle-line-tabs li {
    padding: 0 1rem;
    color: $secondaryFontColor;
    cursor: pointer;
}

.circle-line-tabs li:hover {
    color: gold;
}


[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.far.fa-circle {
    display: inline-block;
}


/* About Section Ends*/

/* Slider Section Starts*/

.slide img{
    width: 100%;
    height: 100vh;
}

.img-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #1d212b;
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.activeSlide{
    clip-path: circle(150% at 0 50%);
    transition: .90s;
    transition-property: clip-path;
}

.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 9rem 13rem;
}

.img-slider .slide .info h2 {
    color: $secondaryFontColor;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .4rem;
}

.img-slider .slide .info p {
    color: $secondaryFontColor;
    font-size: 2rem;
    width: 70%;
    padding: 2rem;
}

.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn {
    color: $secondaryFontColor;
    width: 16px;
    height: 16px;
    margin: 1rem;
}

.img-slider .navigation .btn.activeSlide {
    color: $tertiaryFontColor;
}

/*History Section Starts*/
 .history .history-contact{
     display: block;
 }
/*History Section Ends*/

/*Contact Us Section Start*/
.contact {
    position: relative;
    min-height: 100vh;
    padding: 3rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/images/contact-us-background.jpg);
    background-size: cover;
    margin-top: 5rem;
}

.contact .content {
    max-width: 90%;
    text-align: center;
}

.contact .content h2 {
    font-size: 4rem;
    letter-spacing: 0.5rem;
    font-weight: 500;
    color: $secondaryFontColor;
}

.contact .content .subtitle{
    color: $secondaryFontColor;
}

.contact-wrapper {
    display: inline-flex;
    width: 100%;
    margin: 6rem;
}

.contact .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 13rem;
}

.contact .contact-info .info-box{
    position: relative;
    padding: 2.5rem 0;
    display: flex;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}

.contact .contact-info .info-box .icon {
    min-width: 6rem;
    height: 6rem;
    background: $secondaryFontColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
}

.contact .contact-info .info-box .info-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 0.6rem;
    font-size: 1.7rem;
    font-weight: 300;
    color: $secondaryFontColor;
}

.contact .contact-info .info-box .info-text h3 {
    font-weight: 500;
    color: $tertiaryFontColor;
}

.contact .contact-info .info-box .info-text .info-link:link {
    color: white;
    transition: color 0.3s ease-in-out;
}

.contact .contact-info .info-box .info-text .info-link:visited {
    color: white;
}

.contact .contact-info .info-box .info-text .info-link:hover {
    color: $tertiaryFontColor;
   
    
}

.contact .contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 0 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background: #fff;
    text-align: left;
}

.contact .contact-form h3 {
    font-size: 2rem;
    font-weight: 600;
    
}

.contact .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
}

.contact .contact-form .input-box input,
.contact .contact-form .input-box textarea{
    width: 100%;
    padding: 0.12rem 0;
    font-size: 1.3rem;
    font-weight: 200;
    margin: 0.7rem 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}



.contact .contact-form .input-box span {
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    padding: 0.2rem;
    margin: .7rem 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span{
    color: $tertiaryFontColor;
    font-size: 1.2rem;
    transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
    width: 8rem;
    background: $tertiaryFontColor;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 1.6rem;
    margin-left: 27%;
}

/*Contact Us Section End*/

/*Media Queries Start*/

/*Small Devices and cell phones 600px and lower*/
@media only screen and (max-width: 600px) {
    #intro h1 {
        font-size: 2.2rem;
    }

    #intro p {
        margin: 0 7rem;
    }

    .img-slider .slide .info h2 {
        font-size: 4rem;
        margin-left: -8rem;
    }

    .img-slider .slide .info p {
        padding: 1rem 0;
        width: 100%;
        margin-left: -4rem;

    }
    
    .slide img {
        object-fit: cover;
    }
    
    .contact {
        padding: 6rem 0;
    }

    .contact .content{
        max-width: 90%;
    }


    .contact-wrapper {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .contact .contact-info {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-left: 6rem;
    }

    .contact .contact-info .info-box {
        display: flex;
    }

    .contact .contact-info .info-box .icon {
        width: 6rem;
    }

    .contact .contact-form {
        width: auto;
    }
}